/**
 * TenantSwitcher Styles
 *
 * V3 Header dropdown tenant switcher
 * BC Design System aligned styling
 */

.tenant-switcher {
  width: fit-content;

  .bcds-react-aria-Select--Button {
    padding-right: calc(var(--layout-padding-small) + 10px);
  }

  margin-bottom: 16px;
}
